{% extends 'base.html' %}
{% load static %}


{% block style %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock style %}

{% block carousel %}
    <link rel="stylesheet" href="{% static 'css/style-carousel.css' %}">
{% endblock carousel %}
    

{% block title %}Acceuil{% endblock title %}


{% block content %}

    <!-- carousel start-->
    <div class="">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <ol class="carousel-indicators">
                {% for home in home_list %}
                    <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="{% if forloop.first %}active{% endif %}"></li>
                {% endfor %}
            </ol>
            <div class="carousel-inner">
                {% for home in home_list %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <img src="{{home.home_image.url}}" class="d-block w-100" alt="{{ home.home_title }}">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>{{ home.home_title | truncatewords:5 }}</h5>
                            <p>{{ home.home_description | truncatewords:20 }}</p>
                            <div class="slider-btn">
                                <a href="{% url 'app:contact' %}" class="btn btn-1">
                                    Contactez-Nous!
                                </a>

                                <a href="tel:+243 81 503 47 01" class="btn btn-2">
                                    +243 81 503 47 01
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <!-- <span class="visually-hidden">Previous</span> -->
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <!-- <span class="visually-hidden">Next</span> -->
            </a>
        </div>
    </div>


 

        <!-- <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                {% for home in home_list %}
                    <div class="carousel-item active">
                        <img src="{{home.home_image.url}}" class="d-block w-100" alt="{{ home.home_title }}">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>{{ home.home_title }}</h5>
                            <p>{{ home.home_description }}.</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div> -->

    <!-- slider Area End-->
    <!--? Services Area Start -->
    <div class="service-area section-padding20">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-7 col-md-10 col-sm-10">
                    <!-- Section Tittle -->
                    <div class="section-tittle text-center">
                        <!-- <h2>Présentation du CATSR</h2> -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-cat text-center mb-20">
                        <div class="cat-icon">
                             <span class="">
                                <i class="fa fa-gavel" aria-hidden="true"></i>
                            </span>
                        </div>
                        <div class="cat-cap">
                            <h5><a href="{% url 'app:about' %}">Principes et Valeurs</a></h5>
                            <p>
                                La participation citoyennes , le respect, la responsabilité, 
                                la justice sociale, la scolarité, l'altérité et la diversité.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-cat text-center mb-20">
                        <div class="cat-icon">
                            <span class="">
                                <i class="fa fa-user" aria-hidden="true"></i>
                            </span>
                        </div>
                        <div class="cat-cap">
                            <h5><a href="{% url 'app:about' %}">Vision</a></h5>
                            <p>
                                Garantir les droits pour toutes ces personnes vulnérables et pour qu'elles 
                                puissent vivre dans une société qui, non seulement les protège, mais qui soutient
                                activement leur développement sans discrimination. 
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-cat text-center mb-20">
                         <div class="cat-icon">
                            <span class="">
                                <i class="fa fa-book" aria-hidden="true"></i>
                            </span>
                        </div>
                        <div class="cat-cap">
                            <h5><a href="{% url 'app:about' %}">Mission</a></h5>
                            <p>
                                Le CATSR contribue à la promotion, à la défense et au respect des droits de l'enfant et 
                                du jeune en situation difficile ou de rue d'une part, et promeut et valorise le travail 
                                sociall de rue en RDC, d'autre part.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Services Area End -->
    <!--? About Law Start-->
    <section class="about-low-area section-padding2">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-10">
                    <div class="about-caption ">
                        <!-- Section Tittle -->
                        <div class="section-tittle">
                            <span>CATSR</span>
                            <h2>De quoi s'agit-il?</h2>
                        </div>
                        <p>
                            Une plateforme d'ONGS congolaise et des travailleurs sociaux 
                            de rue oeuvrant pour la valorisation du travail social de rue et la prise en charge 
                            des personnes en situation difficile et particulièrement les enfants 
                            en situation de rue par la vulgarisation de la loi portant protection de l'enfant 
                            (n°09/001 du 10 janvier 2009).
                        </p>
                    </div>
                    <a href="{% url 'app:about' %}" class="btn">En savoir plus</a>
                </div>
                <div class="col-lg-6 col-md-12">
                    <!-- about-img -->
                    <div class="about-img ">
                        <div class="about-font-img d-none d-lg-block">
                            <img src="{% static 'img/catsr/img1.png' %}" width="500px" alt="A propos de CATSR">
                        </div>
                        {% comment %} <div class="about-back-img ">
                            <img src="{% static 'img/catsr/img2.png' %}" width="400px" alt="CATSR">
                        </div> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Law End-->
    <!-- Our Cases Start -->
    <div class="our-cases-area py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-7 col-md-10 col-sm-10">
                    <!-- Section Tittle -->
                    <div class="section-tittle text-center">
                        <h2>Activités</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for bulletin in bulletin_list %}
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cases">
                            <div class="cases-img">
                                <img src="{{bulletin.img_bulletin.url}}" width="300" height="200" alt="{{ bulletin.titre_bulletin }}">
                            </div>
                            <div class="cases-caption">
                                <h3><a href="{% url 'bulletin:bulletin_detail' bulletin.slug %}">{{ bulletin.titre_bulletin|capfirst|truncatewords:10 }}</a></h3>
                                <!-- Progress Bar -->
                                <div class="single-skill mb-15">
                                
                                </div>
                                <!-- / progress -->
                                <div class="prices d-flex justify-content-between">
                                    <p>N°:<span> {{ bulletin.id }}</span></p>
                                    <p><i class="fa fa-eye" aria-hidden="true"></i><span> {{ bulletin.nombre_vues }}</span></p>
                                    <p><i class="fa fa-clock-o"></i>:<span> {{ bulletin.created|timesince }}</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Our Cases End -->

    <!-- Our Cases Start -->
    <div class="our-cases-area pb-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-7 col-md-10 col-sm-10">
                    <!-- Section Tittle -->
                    <div class="section-tittle text-center">
                        <h2>Evenements sociaux</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for event in evenenement_list %}
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cases">
                            <div class="cases-img">
                                <img src="{{event.img_evenement.url}}" width="300" height="200" alt="{{ event.titre_evenement }}">
                            </div>
                            <div class="cases-caption">
                                <h3><a href="{% url 'event:event_detail' event.slug %}">{{ event.titre_evenement|capfirst|truncatewords:10 }}</a></h3>
                                <!-- / progress -->
                                <div class="prices d-flex justify-content-between">
                                    <p><i class="fa fa-eye" aria-hidden="true"></i><span> {{ event.nombre_vues }}</span></p>
                                    <p><i class="fa fa-clock-o"></i>:<span> {{ event.created|timesince }}</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Our Cases End -->

    <!-- Our Cases Start -->
    <div class="our-cases-area pb-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-7 col-md-10 col-sm-10">
                    <!-- Section Tittle -->
                    <div class="section-tittle text-center">
                        <h2>Formations</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for formation in formation_list %}
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cases mb-40">
                            <div class="cases-img">
                                <img src="{{formation.img_formation.url}}" width="300" height="200" alt="{{ formation.titre_formation }}">
                            </div>
                            <div class="cases-caption">
                                <h3><a href="{% url 'formations:formations_detail' formation.slug %}">{{ formation.titre_formation|capfirst |truncatewords:10 }}</a></h3>
                                <!-- / progress -->
                                <div class="prices d-flex justify-content-between">
                                    <p><i class="fa fa-eye" aria-hidden="true"></i><span> {{ formation.nombre_vues }}</span></p>
                                    <p><i class="fa fa-clock-o"></i>:<span> {{ formation.created|timesince }}</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Our Cases End -->



{% endblock %}


{% block js %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>
    
{% endblock js %}
    