{% extends 'base.html' %}
{% load static %}

{% block title %}Activités{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock style %}

{% block content %}

    <!--? Hero Start -->
    <div class="slider-area2">
        <!-- <div class="slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        
                    </div>
                </div>
            </div>
        </div> -->
        <div class="hero-cap hero-cap2 pt-20 text-center">
            <h2>Activités</h2>
        </div>
    </div>
    <!-- Hero End -->
    <!-- Our Cases Start -->
    <div class="our-cases-area section-padding30">
        <div class="container">
            <div class="row">
                {% for bulletin in bulletin_list %}
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cases mb-40">
                            <div class="cases-img">
                                <img src="{{bulletin.img_bulletin.url}}" width="300" height="200" alt="{{ bulletin.titre_bulletin }}">
                            </div>
                            <div class="cases-caption">
                                <h3><a href="{% url 'bulletin:bulletin_detail' bulletin.slug %}">{{ bulletin.titre_bulletin| capfirst |truncatewords:10 }}</a></h3>
                             
                                <div class="prices d-flex justify-content-between">
                                    <p>Bulletin N°:<span> {{ bulletin.id }}</span></p>
                                    <p><i class="fa fa-eye" aria-hidden="true"></i><span> {{ bulletin.nombre_vues }}</span></p>
                                    
                                    <p><i class="far fa-clock"></i>:<span> {{ bulletin.created|timesince }}</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="pagination d-flex justify-content-center py-4">
                <span class="step-links">
                    {% if bulletin_list.has_previous %}          
                        <a href="?page={{ bulletin_list.previous_page_number }}">Page précédente</a>
                    {% endif %}

                    <span class="current">
                    {{ bulletin_list.number }}
                    </span>

                    {% if bulletin_list.has_next %}
                        <a href="?page={{ bulletin_list.next_page_number }}">Page suivante</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
    <!-- Our Cases End -->

{% endblock content %}
